@tailwind base;
@tailwind components;
@tailwind utilities;
/* Global Reset */
/* Global Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  margin: 0; /* No margin on body */
  padding: 0; /* No padding on body */
}
