.photo-card {
  transition: transform 0.3s ease-in-out;
  width: 150px; /* Set a fixed width for the card */
}

.photo-card:hover {
  transform: scale(1.05);
}

.animate-slide {
  animation: slide 20s linear infinite; /* Control speed of scroll */
  display: flex; /* Ensure children align in a row */
  white-space: nowrap; /* Prevent line breaks */
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%); /* Move left */
  }
}

.photo-card img {
  width: 150%; /* Make image take full width of card */
  height: 150px; /* Set a fixed height */
  object-fit: cover; /* Maintain aspect ratio and cover the entire area */
  border-radius: 0.5rem; /* Rounded corners */
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    to bottom right,
    rgba(255, 77, 77, 0.7),
    rgba(255, 153, 51, 0.7),
    rgba(255, 228, 0, 0.7)
  );
  z-index: 0; /* Ensures the gradient stays behind the content */
}

.relative {
  position: relative; /* Make sure the relative positioning is set */
}
