.photo-card {
  transition: transform 0.3s ease-in-out;
}

.photo-card:hover {
  transform: scale(1.05);
}

.animate-slide {
  animation: slide 20s linear infinite; /* Control speed of scroll */
  display: flex; /* Ensure children align in a row */
  white-space: nowrap; /* Prevent line breaks */
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%); /* Move left */
  }
}
